/*           */
/* Variables */
/*           */

:root {
    - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
    --thin-font: 400; 
    --thick-font: 700;
    --mobile-size: 375px;
    --desktop-size: 1440px;
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(212, 45%, 89%);
    --color-blue: hsl(220, 15%, 55%);
    --color-darkblue: hsl(218, 44%, 22%);
    --paragraph-size: 15px;
}

/*       */
/* Reset */
/*       */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    width: 375px;
}

section {
}

img {

}

h2 {

}

p {

}

